body{
  margin:0;
  background:#0f172a;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app{
  background:#020617;
  padding:25px;
  border-radius:12px;
  width:320px;
  color:white;
}

h2{
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#38bdf8;
  font-weight:bold;
  cursor:pointer;
}

li{
  list-style:none;
  background:#020617;
  margin-top:8px;
  padding:8px;
  border-radius:6px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
